@model RVASispit.Models.TipPaketa
@{
    ViewData["Title"] = "Azuriranje Tipa Paketa";
}

<h2 class="text-center mb-4">Azuriranje tipa paketa</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="nazivPaketa" class="form-label">Naziv paketa</label>
        <input type="text" asp-for="nazivPaketa" class="form-control"  />

        <label asp-for="cenaMesecnePretplate" class="form-label">Cena mesecne pretplate</label>
        <input type="number" asp-for="cenaMesecnePretplate" class="form-control"  />

        <label asp-for="cenaGodisnjePretplate" class="form-label">Cena godisnje pretplate</label>
        <input type="number" asp-for="cenaGodisnjePretplate" class="form-control" />

        <label asp-for="opisPaketa" class="form-label">Opis paketa</label>
        <input type="text" asp-for="opisPaketa" class="form-control"  />

        <label asp-for="cenaRezervacije" class="form-label">Cena rezervacije</label>
        <input type="number" asp-for="cenaRezervacije" class="form-control" />

        <div class="d-flex justify-content-center mt-1">
            <button type="submit" class="btn btn-success">Azuriraj</button>
        </div>
    </div>
</form>
